.body
{

    margin: 0;
    padding: 0;
    background: url("sunset-3689760_1920.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;


}
.simple-form
{
    text-align: center;
}
.registration input.button1
{
    width: 250px;
    color: black;
    background: blueviolet;
    font-size: 30px;
}